*.pyc
*.swp
*~
test/
misc/
lmtest/
notes
PPprofile/
examples/*.pyc
examples/*.swp
examples/*~
examples/example-*
examples/example.meta
examples/example.port
examples/example.png
examples/example.tim
pplib_dist.py*
MCtests/
developments
