*.pyc
*.swp
*~
test/
misc/
lmtest/
build/
notes
PPprofile/
examples/*.pyc
examples/*.swp
examples/*~
examples/example-*
examples/example.meta
examples/example.port
examples/example.tim
examples/.ipynb_checkpoints
pplib_dist.py*
MCtests/
developments
install.cmd
